/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

#reportDate {
    max-width: 160px;
}

.table td {
    background-color: #f3eff1;
}

.table thead {
    background-color: #ea433b; /* Change the background color of the thead */
}
