{% extends "layout.html" %}

{% block title %}
    Forside
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p><b>{{ fname }}</b>, velkommen tilbake!</p>
                <p>Her er en oversikt over virksomhetene du disponerer:</p>
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-dark">
                            <th scope="col">name</th>
                            <th scope="col">btn</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for business in businesses%}
                        <tr>
                            <td>{{ business.name }}</td>
                            <td>
                                <form action="/rapporter" method="POST">
                                    <input type="hidden" name="business_id" value="{{ business.id }}">
                                    <button type="submit" class="btn btn-primary btn-sm">Rapporter</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
