{% extends "layout.html" %}

{% block title %}
    Rapporter
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <p>Rapportér for <b>{{ business_name }}</b> (siste 14 dager)</p>
            <table class="table table-bordered">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Dato</th>
                        <th scope="col">Atall besøk</th>
                    </tr>
                </thead>
                <tbody>
                    {% for formatted_date in formatted_dates %}
                    <tr class="table-info">
                        <td>{{ formatted_date }}</td>
                        <td>
                            <form action="/your-action-path" method="POST" class="d-flex align-items-center">
                                <input type="number" name="number_input" min="0" required class="form-control me-2" placeholder="Hvor mange besøk?" style="width: 100px;">
                                <button type="submit" class="btn btn-primary">Lagre</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
