{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="mb-3">
        <h1>Registrer ny bruker</h1>
    </div>
    {% if error %}
        <div class="alert alert-danger text-center w-auto mx-auto" role="alert">
            <p class="mb-0">{{ error }}</p>
        </div>
    {% endif %}
    <form action="/registrer-bruker" method="post">
        <div class="mb-3">
            <input
                name="fname"
                autofocus
                autocomplete="off"
                class="form-control mx-auto w-auto"
                placeholder="Fornavn"
                type="text"
                value="{{ request.form.fname if request.form.fname else '' }}"
            >
        </div>
        <div class="mb-3">
            <input 
                autocomplete="off" 
                class="form-control mx-auto w-auto" 
                name="lname" 
                placeholder="Etternavn" 
                type="text"
                value="{{ request.form.lname if request.form.lname else '' }}"
            >
        </div>
        <div class="mb-3">
            <input 
                autocomplete="off" 
                class="form-control mx-auto w-auto" 
                name="email" 
                placeholder="E-post" 
                type="text"
                value="{{ request.form.email if request.form.email else '' }}"
                >
        </div>
        <div class="mb-3">
            <input 
                autocomplete="off" 
                class="form-control mx-auto w-auto" 
                name="cellphone" 
                placeholder="Mobilnummer" 
                type="text"
                value="{{ request.form.cellphone if request.form.cellphone else '' }}"
                maxlength="8"
            >
        </div>
        <div class="mb-3">
            <input 
                autocomplete="off" 
                class="form-control mx-auto w-auto" 
                id="username"
                name="username" 
                placeholder="Brukernavn" 
                type="text" 
                value="{{ request.form.username if request.form.username else '' }}"
                autocomplete="username"
            >
        </div>
        <div class="mb-3">
            <input 
                class="form-control mx-auto w-auto"
                id="password"
                name="password" 
                placeholder="Passord" 
                type="password"
                autocomplete="new-password"
            >
        </div>
        <div class="mb-3">
            <input 
                class="form-control mx-auto w-auto"
                id="confirmation"
                name="confirmation" 
                placeholder="Gjenta passord" 
                type="password"
                autocomplete="new-password"
            >
        </div>
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary" type="submit">Registrer ny bruker</button>
        </div>
    </form>
{% endblock %}
